* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
abbr {
	text-decoration: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

@font-face {
	font-family: "Nuckle";
	font-display: swap;
	src: url("../fonts/Nuckle-Regular.woff2") format("woff2"),
		url("../fonts/Nuckle-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Nuckle";
	font-display: swap;
	src: url("../fonts/Nuckle-Medium.woff2") format("woff2"),
		url("../fonts/Nuckle-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Inter:500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap);

@font-face {
	font-family: "icons";
	src: url("../fonts/icons/icons.eot?g6s9ya");
	src: url("../fonts/icons/icons.eot?g6s9ya#iefix") format("embedded-opentype"),
		url("../fonts/icons/icons.ttf?g6s9ya") format("truetype"),
		url("../fonts/icons/icons.woff?g6s9ya") format("woff"),
		url("../fonts/icons/icons.svg?g6s9ya#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bag:before {
	content: "\e900";
}
.icon-facebook:before {
	content: "\e901";
}
.icon-instagram:before {
	content: "\e902";
}
.icon-linkdin:before {
	content: "\e903";
}
.icon-profile:before {
	content: "\e904";
}
.icon-tiktok:before {
	content: "\e905";
}
.icon-youtube:before {
	content: "\e906";
}
.icon-arrow:before {
	content: "\e907";
}
.icon-arrow-drop:before {
	content: "\e908";
}
.icon-arrow-up:before {
	content: "\e909";
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	font-family: "Nuckle", sans-serif;
	font-size: 14px;
	max-width: 1440px;
	margin: 0 auto;
}

.wrapper > main {
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

[class*="container"] {
	margin: 0 auto;
	max-width: 1355px;
	padding-inline: 15px;
}

@media (min-width: 480px) {
	[class*="container"] {
		max-width: none;
	}
}

@media (min-width: 768px) {
	[class*="container"] {
		max-width: 750px;
	}
}

@media (min-width: 1024px) {
	[class*="container"] {
		max-width: 970px;
	}
}

@media (min-width: 1200px) {
	[class*="container"] {
		max-width: 1355px;
	}
}

:root {
	--heavy-metal: #141615;
}

.header {
	background-color: #fff;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 20px;
	color: var(--heavy-metal);
	font-weight: 500;
	font-size: 15px;
  position: relative;
}

.header__logo {
}

.header__menu {
}

.menu {
	display: flex;
	align-items: center;
  order: 2;
}

.menu__close-button {
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  backgrpund: none;
}

.menu__close-button span,
.menu__close-button::before,
.menu__close-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--heavy-metal);
  border-radius: 2px;
  transition: all 0.3s;
}

.menu__close-button span {
  top: 50%;
  transform: translateY(-50%);
}

.menu__close-button::before {
  top: 0;
}

.menu__close-button::after {
  bottom: 0;
}

._open .menu__close-button span {
  opacity: 0;
}

._open .menu__close-button::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

._open .menu__close-button::after {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.menu__body {
  position: absolute;
  top: 100%;
  left: -100%;
  width: 100%;
  height: 100dvh;
  background-color: #fff;

  padding: 20px 15px;

  transition: left 0.3s;
}

._open .menu__body {
  left: 0;
  transition: left 0.3s;
}

.menu__list {
	display: flex;
  flex-direction: column;
	column-gap: 18px;
  row-gap: 20px;
}

.menu__item {
}

.menu__link {
	text-transform: uppercase;
	display: flex;
	column-gap: 5px;
}

.menu__link i {
	font-size: 0.5em;
}

.header__buttons {
	display: flex;
	align-items: center;
	column-gap: 25px;
}

.header__lang {
}

.header__profile {
}

.header__bag {
}

@media (min-width: 768px) {
	.header__container {
		column-gap: 30px;
    font-size: 12px;
	}

  .header__menu {
	  flex: 1 1 auto;
    order: 0;
  }

  .menu__close-button {
    display: none;
  }

	.menu__body {
    left: 0;
    position: relative;
    background: none;
    height: auto;
    width: auto;
    padding: 0;

    transition: none;
	}

  .menu__list {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .header__container {
		column-gap: 50px;
    font-size: 13px;
	}
}

.main {
}

.hero {
	background: url(../img/bike.png) no-repeat center / cover;
	height: 420px;
}

.hero__container {
	height: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	color: #fff;
	font-weight: 500;
}

.hero__suptitle {
	text-transform: uppercase;
	line-height: 15px;
	font-size: 14px;
	margin-bottom: 10px;
}

.hero__tilte {
    font-size: 32px;
	text-transform: capitalize;
}

@media (min-width: 480px) {
	.hero {
		height: 520px;
	}
}

@media (min-width: 768px) {
	.hero {
		height: 752px;
	}
}

@media (min-width: 1024px) {
  .hero {
		height: 828px;
	}

  .hero__tilte {
    font-size: 58px;
  }
}

@media (min-width: 1200px) {
  .hero__tilte {
    font-size: 70px;
  }
}

.h_2 {
	font-size: 24px;
	line-height: 26px;
	font-weight: 500;
	margin-bottom: 30px;
}

.about {

}

.about__container, .free__container {
	padding-block: 50px;
}

.free__content, .about__content {
	max-width: 100%;
	margin: 0 auto;
}

.free img, .about img {
	max-width: 100%;
	width: 635px;
	aspect-ratio: 1 / 1;
	margin-bottom: 20px;
}

.free__tilte, .about__tilte {

}

.free__description, .about__description {
	margin-block: 20px;
	font-size: 15px;
	line-height: 21px;
}

.free__button, .about__button {
	font-size: 15px;
	line-height: 15px;
	text-transform: capitalize;
	backgrpund: none;
}



.service {
	background: url(../img/service.png) no-repeat center / cover;
}

.service__container {
	height: 610px;
	color: #fff;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

@media (min-width: 480px){
	.service__container {
		padding-inline: 120px;
	}
}

.service__tilte {
	max-width: 440px;
	margin-bottom: 20px;
}

.service__description {
	font-size: 14px;
	line-height: 21px;
	max-width: 300px;
}


.work {

}

.work__container {
	padding-block: 50px;
}

.work img {
	width: 100%;
	max-width: 100%;
	/* height: 400px; */
	margin-top: 20px;
}

.work__content {
	/* padding: 0 30px 0 100px; */
}

.work__tilte {
	margin-bottom: 20px;
}

.work__wrap {
	
}

.work__caption {
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	padding-left: 9px;
	position: relative;
}

.work__caption::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 28px;
	border-radius: 26px;
	background-color: #2A2A2A1A;
	top: 50%;
	right: calc(100% + 5px);
	transform: translateY(-50%);
}

.work__description {
	font-size: 14px;
	line-height: 17px;
	color: #14161566;
}

.work__description:not(:last-child) {
	margin-bottom: 14px;
}

.slider {

}

.slider__container {
	display: flex;
	flex-direction: column;
	gap: 30px 40px;
}

.slider__slide {
	flex: 1 1 50%;
	background-color: #EBEDEE;
	padding: 40px;
	position: relative;
}

.slider__row {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 20px;
}

.slide__title {
	font-size: 30px;
	line-height: 30px;
	font-weight: 500;
}

.slide__title sup {
	font-size: 10px;
	line-height: 10px;
	font-weight: 400;
	margin-left: 5px;
}

.slider__price {
	text-transform: uppercase;
	font-size: 20px;
	line-height: 26px;
}

.slide__picture {
	max-width: 100%;
	width: 100%;
}

.slide__buttons {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
	padding: 0 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	backgrpund: none;
}

.slide__button {
	transform: rotate(90deg);
}

.slide__button-left {

}

.slide__button-right {
	scale: -1;
}

.slide__colors {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 10px;
	margin-top: 35px;
}

.slide__collor {
	width: 30px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

.slide__collor::after {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transform-origin: center;
	opacity: 0;
	transition: opacity 0.3s;
	border: solid 2px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	z-index: 0;
}

.slide__collor:hover::after {
	opacity: 1;
	transition: opacity 0.3s;
}

.slide__collor:nth-child(1)::after {
	border-color: black;
}

.slide__collor:nth-child(1) {
	background-color: black;
}

.slide__collor:nth-child(2)::after {
	border-color: #606160;
}

.slide__collor:nth-child(2) {
	background-color: #606160;
}

.slide__collor:nth-child(3)::after {
	border-color: #DDD9CD;
}

.slide__collor:nth-child(3) {
	background-color: #DDD9CD;
}

.slide__collor:nth-child(4)::after {
	background: linear-gradient(white, white) padding-box,
              linear-gradient(to right, #DDD9CD 50%, black 50%) border-box;
  border-radius: 50%;
  border: 2px solid transparent;
}

.slide__collor:nth-child(4)::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 6;

	background-image: linear-gradient(90deg, #DDD9CD 50%, black 50%);
}


.get-in-touch {

}

.get-in-touch__container {
	padding-block: 200px 60px;
	text-align: center;
}

.get-in-touch__form {
	display: flex;
	flex-direction: column;
	row-gap: 23px;
	margin-top: 57px;
	max-width: 970px;
	margin: 0 auto;
}

.get-in-touch__input {
	width: 100%;
	padding: 20px;
	border: 2px solid #1416151A;
}

.get-in-touch__input, .get-in-touch__input::placeholder,
.get-in-touch__textarea, .get-in-touch__textarea::placeholder {
	font-size: 12px;
	font-weight: 500;
	color: var(--heavy-metal);
}

.get-in-touch__email {

}

.get-in-touch__tel {

}

.get-in-touch__textarea {
	width: 100%;
	padding: 20px;
	border: 2px solid #1416151A;
	resize: none;
	height: 150px;
}

.get-in-touch__button {
	padding: 15px;
	background-color: #14161588;
	transition: background-color 0.3s;
	border-radius: 25px;
	color: #fff;
	cursor: pointer;
	backgrpund: none;
}

.get-in-touch__button:hover {
	background-color: #141615;
	transition: background-color 0.3s;
}


.questions {

}

.questions__container {
	padding-block: 66px 80px;
}

.questions__title {
	font-size: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 28px;
	font-weight: 500;
}

.questions__dropdown {
	max-width: 930px;
	margin: 0 auto;
}

.questions__dropdown input {
	display: none;
}

.questions__dropdown-title {
	font-size: 25px;
	line-height: 32px;
	font-weight: 500;
	position: relative;
	display: block;
	width: 100%;
	margin-top: 33px;
	cursor: pointer;
}

.questions__dropdown-title::after {
	content: "+";
	position: absolute;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
}

.questions__dropdown-body {
	max-height: 0;
	overflow: hidden;
}

[type="checkbox"]:checked ~ .questions__dropdown-body {
	max-height: none;
}

[type="checkbox"]:checked ~ .questions__dropdown-title::after {
	content: "-";
}

.questions__dropdown-text {
	font-size: 14px;
	line-height: 21px;
	padding-block: 35px;
}



.footer {

	background-color: var(--heavy-metal);
}

.footer__book {
	background-color: #404243;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 30px;
	padding: 40px 15px;
	line-height: 20px;
	font-weight: 500;
}

.footer__book-text {
	max-width: 700px;
	font-size: 16px;
}

.footer__book-button {
	background-color: #fff;
	border-radius: 25px;
	padding: 15px;
	min-width: 200px;
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}

.footer__book-button:hover {
	background-color: #bbbbbb;
}

.footer__container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 30px;
	padding-block: 66px;
	color: #fff;
}

.footer__links {
	flex: 1 1 auto;
}

.footer__links-caption {
	font-size: 20px;
	line-height: 30px;
	font-weight: 500;
	margin-bottom: 14px;
}

.footer__list {

}

.footer__item {

}

.footer__link, .footer__link:visited {
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF99;
}

.footer__link:hover {
	color: #fff;
}

.footer__wrap {
	flex: 1 1 auto;
}

.footer__title {

}

.footer__subtitle {
	margin-bottom: 30px;
	font-size: 14px;
	line-height: 21px;
}

.footer__form {

}

.footer__input-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #fff;
	border-radius: 30px;
}

.footer__email {
	padding: 15px 15px 15px 20px;
	background: none;
}

.footer__email, .footer__email::placeholder {
	font-size: 12px;
	font-weight: 500;
	color: #fff;
}

.footer__button {
	background-color: #fff;
	border-radius: 25px;
	padding: 15px 35px;
	text-transform: uppercase;
	font-weight: 500;
}

.footer__checkbox-wrap {
	font-size: 14px;
	line-height: 21px;
	padding-inline: 30px;
	margin-block: 30px;
}

.footer__checkbox-wrap span {
	text-decoration: underline;
}

.footer__checkbox {
	margin-right: 10px;
}

.footer__social-menu {
	display: flex;
	align-items: center;
	column-gap: 15px;
}

.footer__social-link, .footer__social-link:visited  {
	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF99;
}

.footer__social-link:hover {
	color: #fff;
}


@media (min-width: 480px) {
	.h_2 {
		font-size: 28px;
		line-height: 34px;
	}

	.free img, .about img {
		max-width: 100%;
		width: 100%;
		margin-bottom: 0;
	}

	.free__content, .about__content {
		padding-inline: 20px;
		margin: 0 auto;
	}

	.service__container {
		height: 810px;
		align-items: start;
		text-align: left;
	}

	.work__tilte {
		margin-bottom: 20px;
	}

	.get-in-touch__textarea {
		height: 300px;
	}

	.questions__title {
		font-size: 40px;
		line-height: 40px;
	}
}

@media (min-width: 768px) {
	.h_2 {
		font-size: 36px;
		line-height: 40px;
	}

	.about__container, .free__container {
		padding-block: 90px;
		display: flex;
		align-items: center;
	}

	.free img, .about img {
		max-width: 400px;
	}

	.work__container {
		padding-block: 90px;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.work img {
		width: 410px;
	}

	.work__content {
		padding: 0 30px;
	}

	.work__description {
		max-width: 440px;
	}

	.slider__container {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.slider__row {
		flex-direction: row;
		justify-content: space-between;
	}

	.questions__title {
		font-size: 64px;
		line-height: 64px;
	}

	.footer__book {
		flex-direction: row;
	}

	.footer__book-button {
		width: auto;
	}
}

@media (min-width: 1024px) {
	.h_2 {
		font-size: 40px;
		line-height: 50px;
	}

	.free img, .about img {
		max-width: 530px;
	}

	.free__content, .about__content {
		padding-inline: 40px;
	}

	.work__content {
		padding: 0 30px 0 100px;
	}

	.work img {
		width: 510px;
	}

	.questions__title {
		font-size: 86px;
		line-height: 86px;
	}
}

@media (min-width: 1200px) {
	.h_2 {
		font-size: 50px;
		line-height: 60px;
	}

	.free img, .about img {
		max-width: 630px;
	}

	.questions__title {
		font-size: 120px;
		line-height: 120px;
	}
}
